.greeting {
    display: flex;
    align-items: flex-start;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}

.input {
    margin: 10px;
    background: yellow;
    color: green;
}

.input.focus {
    border: black;
    solid: 2px
}

.errorInput {
    margin: 10px;
    background: #A8DDFD;
    border: 2px;

}

.button {
    margin: 10px;
    width: 60px;
}

.button.disabled {
    color: #444444;
}